* {
	margin: 0;
	padding: 0;
}
/* Estructura general */ 
body{
	background: url('../img/pattern-8c0y.png');
	background-position:-16px -27px;
	background-color: #29292b;
	padding: 0px;
	margin: 0px auto;
	font-family: 'News Cycle', sans-serif;
}

header {
	height: 60px;
	margin: 0px;
	top: 0px;
	width: 100%;
	background-color:#dddddd;
	float:left;
	position: fixed;
	box-shadow: 0px 1px 3px black;
	z-index: 1
}

.bitacora {
	color:#DF0129;
	font-size: 40px;
	text-decoration: none;
	position: absolute;
	top:0px;
	font-weight: 300
}
nav {
	margin:0px auto;
	padding: 0;
	width:975px;
}

nav ul{
	float: right;
	margin-top: 27px;
	display: block;
}

input{
	margin-top: 10px;
	background-color: #F4F4F4;
	border:1.5px solid white;
}

input:active{
	border:1px solid white;
}

nav ul a{
	color:#79A7A4;
	text-decoration: none;
}

nav ul a:hover{
	color:#DF0129;
	text-decoration: none;
}

.currentlink {
	color:blue;
	border-bottom: solid 5px #DF0129
}


nav li{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	list-style: none;
	float: left;
	font-size: 20px;
	margin-left:208px;
}

nav li:hover{
	border-bottom: solid 5px #DF0129

}


.definition {
	width:700px;
	margin: 100px auto 0px 324px;

}


#wrap {
	width: 975px;
	margin: 50px auto;

}

#content {
	position: relative;
	height: 100%;
	min-height: 600px;
	margin: 50px auto;
}


#Category {
	height: 325px;
	width: 975px;
	background-color: white;
	overflow:auto;
	margin:200px auto;
}

.WrapCategory {
	background-color: red;
	height: 320px;
	float: left
}

#Backg {
	position: absolute;
	top:0;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	position: fixed;
}

#Backg img{
	width: 100vmax;
}


footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 250px;
	margin: 0 auto;
	display: inline-block;
}

#foot {
	margin:10px auto;
	width: 975px;
	height: 120px;

}


#contacto {
	border:2px solid white;
	padding: 10px;
	margin: 50px auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color:white;
	width: 220px;
	letter-spacing: 1px
}
#iconos {
	width:654px;
	margin:20px 0px 0px 320px;
}

/* fin Estructura general */ 


/* elementos de Home - registro */

.definition p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 30px;
	width: 625px;
	color: white;
	border:2px solid white;
	padding: 10px;
}


.content-1 {
	float: left;
	width: 320px;
	height: 320px;
	background-color: #DF0129;
	border: 2px solid white;
	overflow: hidden;
}

.content-1 img{
	width: 200%;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.content-1:hover img{
	opacity: 0
}

.img-1-desc {
	font-family: 'News Cycle', sans-serif;
	font-size: 50px;
	max-width: 300px;
	letter-spacing: -2px;
	line-height: 27px;
	text-transform: lowercase;
	position: absolute;
	padding-left: 10px;
	margin-top:100px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.date {
	font-size:20px;
	letter-spacing: 13px;
}

.categ {
	font-size: 20px;
	letter-spacing: 0px;
	text-transform: lowercase;
}
.content-1:hover .img-1-desc{
 visibility: visible;
  opacity: 1;
}

.content-2 {
	float: left;
	width: 644px;
	height: 320px;
	background-color: #79A7A4;
	border: 2px solid white;
	overflow: hidden;
}

.content-2 img{
	width: 100%;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.content-2:hover img{
	opacity: 0
}

.img-2-desc {
	font-family: 'News Cycle', sans-serif;
	font-size: 50px;
	max-width: 600px;
	letter-spacing: -2px;
	line-height: 27px;
	text-transform: lowercase;
	position: absolute;
	padding-left: 20px;
	margin-top:100px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.content-2:hover .img-2-desc{
 visibility: visible;
  opacity: 1;
}

.content-3 {
	float: left;
	width: 320px;
	height: 644px;
	background-color: #F4F4F4;
	border: 2px solid white;
	overflow: hidden;
}

.content-3 img{
	width: 200%;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.content-3:hover img{
	opacity: 0
}

.img-3-desc {
	font-family: 'News Cycle', sans-serif;
	font-size: 50px;
	max-width: 300px;
	letter-spacing: -2px;
	line-height: 27px;
	text-transform: lowercase;
	position: absolute;
	padding-left: 10px;
	margin-top:300px;
	color: black;
	visibility: hidden;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.content-3:hover .img-3-desc{
 visibility: visible;
  opacity: 1;
}

.content-audio {
	float: left;
	width: 320px;
	height: 320px;
	background-color: #DFC160;
	border: 2px solid white;
	overflow: hidden;
}

.content-audio img{
	width: 200%;
	margin-top: 0;
	display: block;
	overflow: hidden;
	z-index: -2;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.content-audio:hover img{
	opacity: 0
}

.img-audio-desc {
	font-family: 'News Cycle', sans-serif;
	font-size: 50px;
	max-width: 300px;
	letter-spacing: -2px;
	line-height: 27px;
	text-transform: lowercase;
	position: absolute;
	padding-left: 10px;
	margin-top:25px;
	color: #353535;
	visibility: hidden;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.content-audio:hover .img-audio-desc{
 visibility: visible;
  opacity: 1;
}

.button {
   margin-top: 200px;
   margin-left: 30px;
   margin-right: 45px;
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: black;
   color: white;
   font-family: 'News Cycle', sans-serif;
   font-size: 50px;
   text-decoration: none;
   vertical-align: middle;
   display: inline-block;
   }
.button:hover {
   border: 1px solid white;
   text-shadow: #1e4158 0 1px 0;
   background: white;
   color: #DFC160;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #669999;
   color: #fff;
}

/* fin elementos de Home - registro */


/* elementos de acerca de y dejar nota */
button {
	background-color: rgba(0,0,0,0);
	border:2px solid white;
	padding: 10px;
	color:white;
}

button:hover {
	-webkit-box-shadow: rgba(0,0,0,1) 2px 2px 2px, inset rgba(255,255,255,0) 0px 0px 0px;
	-moz-box-shadow: rgba(0,0,0,1) 2px 2px 2px, inset rgba(255,255,255,0) 0px 0px 0px;
	box-shadow: rgba(0,0,0,1) 2px 2px 2px, inset rgba(255,255,255,0) 0px 0px 0px;
}
button:active {
	color:#DF0129;
}

#comment_form {
	margin: 190px auto;
	display: none;
	position: fixed;
}

#comment_form input, #comment_form textarea {
	border: 2px solid white;
	color: white;
	font-size: 17px; 
   font-family: 'Open Sans Condensed', sans-serif;
	padding: 8px 10px;
	background-color: rgba(0,0,0,0);
}



#comment_form textarea {
	width: 350px;
	height: 150px;
	border-top-right-radius: 20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}

#comment_form input[type="submit"] {
	cursor: pointer;
	color: white;
	border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
	border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
	border: 1px solid white;
}

#comment_form div {
	margin-bottom: 8px;
}


::-webkit-input-placeholder {
   color: white; 
   font-size: 20px; 
   font-family: 'Open Sans Condensed', sans-serif;
   font-style: normal;
}

:-moz-placeholder { /* Firefox 18- */
   color: white; 
   font-size: 20px; 
   font-family: 'Open Sans Condensed', sans-serif;
   font-style: normal; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white; 
   font-size: 20px; 
   font-family: 'Open Sans Condensed', sans-serif;
   font-style: normal;
}

:-ms-input-placeholder {  
   color: white; 
   font-size: 20px; 
   font-family: 'Open Sans Condensed', sans-serif;
   font-style: normal;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 39px;
	display: inline-block;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 29px;
	display: inline-block;
}

#Web {

	display: block;
	position: absolute;
	top: -10px;
	padding-bottom: 350px
}

#Connect {
	position: relative;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 10px;
	color: white;
	width:700px;
	margin: 330px auto 20px 328px;
}

#Name {
	width: 250px;
	color: white;
	border:2px solid white;
	padding: 10px;
	position: relative;
	top: 50px;
	left: 325px;
}


#description {
	font-family: 'News Cycle', sans-serif;
	position: relative;
	font-weight: 400;
	font-size: 22px;
	color: white;
	width:700px;
	margin: 125px auto 175px 324px;

}

#seeComments {
	position: absolute;
	right: 0px;
	top:50px;
}

#Comment {
	width: 250px;
	color: white;
	position: fixed;
	top: 100px;
	left: 187px;
}

.Comments {
	display: none;
	position: absolute;
	width: 550px;
	height: 1000px;
	right: 0px;
	top:200px;
}

.Comment-Box {
	width: 550px;
	min-height: 75px;
	float: left;
	margin-bottom: 20px
}

.Comment-Box-Message {
	border:2px solid white;
	margin: 5px;
	width: 540px;
	min-height: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	float: right;
}

.Comment-Box-Message p{
	font-family: 'News Cycle', sans-serif;
	padding: 5px 10px;
	font-weight: 400;
	font-size: 25px;
	color:white;
}


.Comment-Box-UserInfo {
	float: right;
	margin: 0px 5px
}

.data {
	font-family: 'News Cycle', sans-serif;
	color:white;
	font-size: 20px;

}

.datePost {
	font-family: 'News Cycle', sans-serif;
	font-style: italic;
	text-transform: uppercase;
	color:#DF0129;
	font-size: 11px;
	margin: 0 0 0 10px
}


#Invitation {
	background-color: red;
	width: 300px;
	display: block;
	font-family: 'News Cycle', sans-serif;
	position: absolute;
	font-weight: 400;
	font-size: 22px;
	color: white;
	top:150px;
	right:0px;

}

/* fin elementos de acerca de y dejar nota */
