
// Images
.bg-plaza {
	background-image: url("../img/bg-plaza.jpg");
	background-size: cover;
}

.bg-mar {
	background-image: url("../img/bg-mar.jpg");
	background-size: cover;
}

.bg-flores {
	background-image: url("../img/bg-flores.jpg");
	background-size: cover;
}

.bg-valpo {
	background-image: url("../img/bg-valpo.jpg");
	background-size: cover;
}

.bg-valpo-noche {
	background-image: url("../img/bg-valpo-noche.jpg");
	background-size: cover;
}

.bg-jacko {
	background-image: url("../img/bg-jacko.jpg");
	background-size: cover;
}

.bg-phone {
	background-image: url("../img/bg-phone.jpg");
	background-size: cover;
}

// Colors
.bg-white {
	background-color: #fff;
}

.bg-primary {
	background-color: $primary;
}