.btn {
	border-radius: 0;
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid #eee;
	color: #eee;
	&:hover {
		border-color: #a50d13;
	}
}

.btn-primary {
	background-color: $primary;
	border-color: #de1219;
	&:hover {
		background-color: #c61017;
		border-color: #a50d13;
	}
}

// Sizes

.btn-xs {
	font-size: 10px;
}

.btn-sm {
	font-size: 12px;
}

.btn {
	// font-size: 16px;
}

.btn-md {
	font-size: 32px;
}

.btn-lg {
	font-size: 48px;
}

// Nav

.nav-link {
	color: #eee;
}