.widget {
	// border:1px solid blue;
}

// About Me
.widget-about-me {
	padding: 60px 0;
	.widget-header {
		border-radius: 50%;
		overflow: hidden;
		width: 300px;
		height: 300px;
		margin: auto auto 40px auto;
		display: block;
		img {
			width: 110%;
		}
	}
	.widget-body {
		p {
			text-align: center;
		}
	}
}